<h6 class="list-heading" id="table-of-contents">Table of contents</h6>

<ul>
  <li><a href={{ "/README" | relative_url }}>Introduction</a></li>

  <li><a href={{ "/focus-on-the-public-and-their-needs" | relative_url }}>Focus on the public and their
  needs</a></li>

  <li>
    <a href={{ "/pick-the-perfect-content-type/README" | relative_url }}>Pick the perfect page type</a>

    <ul>
      <li><a href={{ "/pick-the-perfect-content-type/service-page" | relative_url }}>Service Page</a></li>

      <li><a href={{ "/pick-the-perfect-content-type/information-page" | relative_url }}>Information
      Page</a></li>

      <li><a href={{ "/pick-the-perfect-content-type/department-page" | relative_url }}>Department
      Page</a></li>

      <li><a href={{ "/pick-the-perfect-content-type/official-documents-page" | relative_url }}>Official
      Documents Page</a></li>
      
      <li><a href={{ "/pick-the-perfect-content-type/location-page" | relative_url }}>Location Page</a></li>
    </ul>
  </li>

  <li>
    <a href={{ "/write-with-service-oriented-language/README" | relative_url }}>Use service-oriented
    language</a>

    <ul>
      <li><a href=
      {{ "/write-with-service-oriented-language/understand-writing-principles-voice-and-tone" | relative_url }}>
      Understand writing principles, voice, and tone</a></li>

      <li><a href=
      {{ "/write-with-service-oriented-language/make-content-easier-to-read" | relative_url }}>Make
      content easier to read</a></li>

      <li><a href=
      {{ "/write-with-service-oriented-language/make-your-content-findable" | relative_url }}>Make your
      content findable</a></li>

      <li><a href=
      {{ "/write-with-service-oriented-language/write-for-all-languages-please-por-favor-xin-vui-long" | relative_url }}>
      Write for all languages, please, por favor, xin vui long, رجاء, 請</a></li>
    </ul>
  </li>

  <li><a href={{ "/make-content-accessible" | relative_url }}>Make content accessible</a></li>

  <li><a href={{ "/put-your-best-photos-forward" | relative_url }}>Put your best photos forward</a></li>

  <li><a href={{ "/check-that-your-content-is-high-quality" | relative_url }}>Check that your content is
  high quality</a></li>

  <li><a href={{ "/manage-your-content" | relative_url }}>Manage Your Content</a></li>

  <li><a href={{ "/punctuation" | relative_url }}>Punctuation</a></li>

  <li><a href={{ "/tables" | relative_url }}>Tables</a></li>
</ul>
