<h1 id="table-of-contents">Table of contents</h1>

<ul>
  <li><a href="README.md">Introduction</a></li>

  <li><a href="focus-on-the-public-and-their-needs.md">Focus on the public and their
  needs</a></li>

  <li>
    <a href="pick-the-perfect-content-type/README.md">Pick the perfect page type</a>

    <ul>
      <li><a href="pick-the-perfect-content-type/service-page.md">Service Page</a></li>

      <li><a href="pick-the-perfect-content-type/information-page.md">Information
      Page</a></li>

      <li><a href="pick-the-perfect-content-type/department-page.md">Department
      Page</a></li>

      <li><a href="pick-the-perfect-content-type/official-documents-page.md">Official
      Documents Page</a></li>
    </ul>
  </li>

  <li>
    <a href="write-with-service-oriented-language/README.md">Use service-oriented
    language</a>

    <ul>
      <li><a href=
      "write-with-service-oriented-language/understand-writing-principles-voice-and-tone.md">
      Understand writing principles, voice, and tone</a></li>

      <li><a href=
      "write-with-service-oriented-language/make-content-easier-to-read.md">Make
      content easier to read</a></li>

      <li><a href=
      "write-with-service-oriented-language/make-your-content-findable.md">Make your
      content findable</a></li>

      <li><a href=
      "write-with-service-oriented-language/write-for-all-languages-please-por-favor-xin-vui-long.md">
      Write for all languages, please, por favor, xin vui long, رجاء, 請</a></li>
    </ul>
  </li>

  <li><a href="make-content-accessible.md">Make content accessible</a></li>

  <li><a href="put-your-best-photos-forward.md">Put your best photos forward</a></li>

  <li><a href="check-that-your-content-is-high-quality.md">Check that your content is
  high quality</a></li>

  <li><a href="manage-your-content.md">Manage Your Content</a></li>

  <li><a href="punctuation.md">Punctuation</a></li>

  <li><a href="tables.md">Tables</a></li>
</ul>
