{% capture list_items %}
  {% unless include.recursive %}
    {% assign index = site.pages | where: "url", include.base | first %}
    <li>
      <a href="{{index.url}}"{% if page.url == index.url %} class="usa-current"{% endif %}>
        {{ index.nav_title | default: index.title }}
      </a>
    </li>
  {% endunless %}

  {% for item in include.items %}
    {% assign item_slug = item.url | split: "/" | last | append: "/" %}
    {% assign parent_slug = item.url | remove: item_slug %}

    {% if parent_slug == include.base %}
      <li>
        <a href="{{item.url}}"{% if page.url contains item.url %} class="usa-current"{% endif %}>{{item.title}}</a>
        {% include sidenav.html items=include.items base=item.url recursive=true %}
      </li>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign list_items = list_items | strip %}

{% if list_items != empty %}
  {% capture ul_class %}
    {% if include.recursive %}usa-sidenav-sub_list{% else %}usa-sidenav-list{% endif %}
  {% endcapture %}
  <ul class="{{ul_class}}">{{list_items}}</ul>
{% endif %}
