<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  {% include head.html %}

  <body class="{{ page.title | slugify }}">

    {% include header.html %}

    <div class="usa-grid">
      {% if page.collection %}
        {% assign collection_url = page.collection | prepend: "/" | append: "/" %}
        {% assign collection_page = site.pages | where: "url", collection_url | first %}

        <div class="usa-width-one-whole">
          <h1>{{collection_page.title}}</h1>
        </div>

        <aside class="usa-width-one-fourth">
          {% assign items = site[page.collection] | sort: "url" | sort: "position" %}
          {% include sidenav.html items=items base=collection_url %}
        </aside>
      {% else %}
        <aside class="usa-width-one-fourth">
          {% assign items = site.pages | sort: "url" | sort: "position" %}
          {% include sidenav.html items=items base="/" %}
        </aside>
      {% endif %}

      <main id="main-content" class="usa-width-three-fourths usa-content">
        {{content}}
      </main>
    </div>

    {% include footer.html %}


    <script src="{{site.baseurl}}/assets/vendor/uswds-0.12.1/js/uswds.min.js"></script>
  </body>

</html>
